/*Criando area responsiva*/
/*Geral*/
* {
    margin: 0;
    padding: 0;
    }  

title {
        font-style: italic;
        text-align: center;
        color: blue;
}/* Parece que o navegador nao se importa com o estilo do titulo*/
main{

        background-color: aquamarine;
    }

body{
        font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
     }

footer {
        background-color: blueviolet;
    }

li {
        list-style: none;
    }

button{
        border: none;
    
    }

select {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        appearance: none; /* Remove a aparência padrão */
        -webkit-appearance: none; /* Remove a aparência padrão no WebKit */
        -moz-appearance: none; /* Remove a aparência padrão no Firefox */
        
    }
form {
        max-width: auto;
        margin: 0 auto;
        padding: auto;
        border: none;
        border-radius: 5px;
       }
        input[type="name"],
        input[type="email"]
       
        
        {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px; /* Espaçamento entre os campos */
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
        }
    a{
        text-decoration: none;
    }

form input{
    width: 100%;  
    outline: none;

}
input {
    width: 100%;  
    outline: none;

}

input[type="name"]{
   
    width: 100%;}
input[type="email"]{
   
    width: 100%;
          
}
input[type="name"]::placeholder{
    font-family: sans-serif;
    width: 100%;
    padding: 0px;
    font-size: 16px;
    
   
         
}

input[type="email"]::placeholder {
    font-family: Arial, Helvetica, sans-serif
    
    
}

form input {
    border: 1px solid #ccc; /* Borda sólida com cor cinza */
    border-radius: 4px; /* Borda arredondada */
    padding: 10px; /* Espaçamento interno para o conteúdo */
}

/*reposividade*/
@media (max-width: 768px) {
    .item {
        flex-basis: 100%; /* Ocupa toda a largura em telas menores */
    }
}   


/* Metadados*/

.header-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: calc(10px+1vw);
  }
/*Paleta de Cores*/
:root{
    --color-blank: #ffffff;
    --color-pri: #fa4c06;
    --color-sec: #9ca29c;
    --color-ter: #6b74ac;
    --color-footer: #25242a;
    --color-hero: #f0edeb;
}

/* Parte da Navecação do Site*/

.nav-bar{
    display: flex;
    justify-content: center;
    position: relative;
    height: var(--color-pri);

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50;
    height: 50px;
    gap: 20px;
}

.logo-name {
    display: flex;
    align-content: end;
    align-self: center;
    font-size: 30px;
    font-style: bold;

}
.logo-img
{
    width: 40px;
    height: auto;    
}

.button-menu{
    padding: 0%;
    margin: 0%;
    width: 120px;
    height: 40px;
    background-color: var(--color-pri);
    outline: none;
    font-style: normal; color: var(--color-blank);
    
}



.ul-menu {
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: 0px;
    font-style: normal var(--color-blank);
       
        
}

.ul-menu:hover {
    justify-content: center;
    align-content: center;
    padding: 10%;
    margin: 0%;
    background-color: var(--color-pri);
    font-style: normal var(--color-blank);
    font-size: 100%;
    color: inherit;
    width: 100%;

}
    
   /*Secao Sobre*/

.sec-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%);
    background-color:#25242a;
    background-image:url(images/header-container-bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-attachment: local;
   

       
        
}


.sec-sobre-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.imagem-bg-sec-sobre{
    
    background-image: url(images/header-container-bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.40);
    
}
.text-button-track{
    display: flex;
    align-items: center;
    max-width: max-content;
    min-width: none;
    margin: 0%;
    padding: 20px;
    border: 0px;
}

.input-pesquisa{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    outline: none;
}

.input-botton{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    outline: none;
    cursor: pointer;
}

/*Sec servico*/
.sec-servico{
    background-color: var(--color-hero);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
    padding: 0%
}
.form-service{
    display: flex;
    flex-direction: column;
    columns: 10px;    
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    


    
}
.div-form-service{
    background-color:var(--color-pri);
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: none;
   
   

     
}
.selec-form-service{
    position: relative;
}
/* ANALISANDO O INPUT - FAZENDO DE FORMA GERAL
.input-text-service{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    outline: none;
}

.input-botton-service{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    outline: none;
    cursor: pointer;
}
*/
/*.name-form-service {
    margin: 10px;
    padding: 10px
}
estava tentando separa a palavra do formulario    
*/


.botton-form-service{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Espaçamento entre os campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}

.selec-form-service{    
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Espaçamento entre os campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}


/*CSS PARA A SECAO SERVICO DOIS*/

.sec-servico-status{
    display: flex;
    flex-direction: column;

}
/*

.sec-servico-status-expert{

}

.sec-servico-status-sucesso{}



.sec-servico-status-project{

}

*/
